%h1
  Our Team

%ul
  %li
    %h3
      Jane Doe
    %p
      Chief Chief Officer
  %li
    %h3
      John Doe
    %p
      Chief Officer Officer
  %li
    %h3
      Somebody with a latte
    %p
      Intern
